<div class="row">
    <div class="col-xs-12">
        <h1>{{selectedRecipe?.name}}</h1>
    </div>
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onAddToShoppingList()">Shopping List</button>
        <button class="btn btn-primary" (click)="onEdit()">Edit</button>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <img src="{{selectedRecipe?.imagePath}}" alt="{{selectedRecipe?.name}}" class="img-responsive" style="max-height: 300px">
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-12">
        <p>{{selectedRecipe?.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of selectedRecipe?.ingredients">{{item.name}} ({{item.amount}}{{item.amountType}})</li>
        </ul>
    </div>
</div>