<h3 class="text-center">Sign In</h3>
<br><br>
<form [formGroup]="signInForm" (ngSubmit)="onSignin()" class="form-horizontal">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="email" class="control-label col-sm-3">E-Mail</label>
            <div class="col-sm-9">
                <input formControlName="email" type="email" id="email" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label col-sm-3">Password</label>
            <div class="col-sm-9">
                <input formControlName="password" type="password" id="password" class="form-control">
            </div>
        </div>
        <br>
        <div class="text-center">
            <p class="text-danger">{{authErrorMessage}}</p>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-default" [disabled]="!signInForm.valid">Sign In</button>
        </div>
    </div>
    <div class="col-md-3"></div>
</form>