<h3 class="text-center">Sign Up</h3>
<br><br>
<form [formGroup]="signUpForm" (ngSubmit)="onSignup()" class="form-horizontal">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="email" class="control-label col-sm-3">E-Mail</label>
            <div class="col-sm-9">
                <input formControlName="email" type="email" id="email" class="form-control" #email>
            </div>
            <span *ngIf="!email.pristine && email.errors != null && email.errors['noEmail']">Invalid mail address</span>
            <!-- <span *ngIf="email.errors['isTaken']">This username has already been taken</span> -->
        </div>
        <div class="form-group">
            <label for="password" class="control-label col-sm-3">Password</label>
            <div class="col-sm-9">
                <input formControlName="password" type="password" id="password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="confirm-password" class="control-label col-sm-3">Confirm Password</label>
            <div class="col-sm-9">
                <input formControlName="confirmPassword" type="password" id="confirm-password" class="form-control" #confirmPassword>
            </div>
            <span *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">Passwords do not match</span>
        </div>
        <br>
        <div class="text-center">
            <p class="text-danger">{{authErrorMessage}}</p>
        </div>
        <div class="text-center">
            <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-default">Sign Up</button>
        </div>
    </div>
    <div class="col-md-3"></div>
</form>